body {
    font-family: 'Andika', sans-serif;
    background-color: #f1ae2b;
}

h1 {
    padding: 0px 0px 0px 10px;
}

.p1{
    font-size: 15px;
    width: 45%;
    padding: 20px;
    display: flex;  
    align-items: center;
    
}
main img {
    width: 250px;
    height: 370px;
    margin-right: 80px ;
    padding: 10px;
}
.fotodeperfil {
   float:right
   
}
.frase{  
    margin-left: 70px;
}
.foot{
    padding: 5px;
    width: 45%;
    
}