body {
    font-family: 'Andika', sans-serif;
    background-color: #f1ae2b;
}

h1 {
    padding: 0px 0px 0px 10px;
}
main img {
    width: 300px;
}
.fotodeperfil {
    display: flex;
    justify-content: center;
}