body {
    font-family: 'Andika', sans-serif;
    background-color: #f1ae2b;
}
header div h1 {
    text-align: center;
}
main ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
main ul li {
    padding: 15px;
}
